body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #0056b3, #00aaff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* ===== Login ===== */
.login-container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  width: 350px;
  text-align: center;
}

.logo-login {
  width: 100px;
  margin-bottom: 15px;
}

.login-container h1 {
  font-size: 20px;
  color: #0056b3;
  margin-bottom: 5px;
}

.login-container input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 10px;
  font-size: 15px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

/* ===== Asistencia y Supervisor ===== */
.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 700px;
  text-align: center;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #007bff;
  color: white;
}

td {
  background-color: #f9f9f9;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: bold;
}

.btn:hover {
  background-color: #0056b3;
}

.filtro {
  padding: 8px;
  border: 2px solid #007bff;
  border-radius: 10px;
  margin-bottom: 10px;
}
